/*
时间：2019-02-18 10:56:22
说明：common.less 样式重置+常用类名 要避免矫枉过正！ 全局变量
      使用：<link href="/css/common.css" rel="stylesheet/less" />
      meta标签必须放在title之前 不然IE中iframe里有时js不执行 页面不显示
    引入less.js 服务器设置less文件的mime类型
*/
/*
作者：xiaomai
时间：2019-02-18 10:56:22
说明：mixins混合自身不输出样式
*/
/*
作者：xiaomai
时间：2019-02-18 10:56:22
说明：less变量文件
*/
/*
  说明 clearfix进化史中的太多麻烦
  改用bootstrap中的写法
  .clearfix:before, .clearfix:after { display: block; height: 0; clear: both; content: ""; font-size: 0; visibility: hidden; }
   IE7不支持:before :after 
  .clearfix { *zoom: 1; } 
*/
/* css3圆角 */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body,
p {
  margin: 0;
}
/* IOS阻止微信自动调整主体文字大小： */
body {
  -webkit-text-size-adjust: 100% !important;
}
body {
  background-color: #fff;
  color: #333;
  font-size: 1rem;
}
a:link {
  color: #333;
}
a:visited {
  color: #333;
}
a:hover {
  color: #595959;
}
a:active {
  color: red;
}
/* frameborder="0"设置边框是不否为3维（0=否，1=是） 要在标签内写 为了对付IE fieldset的边框要保留 */
iframe {
  border-width: 0;
}
/* 发现没有这个会造成滚动条，与固定底部时的发现一样 */
iframe {
  display: block;
}
/* 微信中ul有list-style */
ul,
li {
  list-style-type: none;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
/* TODO l-v-h-a原则 */
a {
  text-decoration: none;
}
template {
  display: none;
}
table {
  border-spacing: 0;
  /*border-collapse: collapse;*/
}
textarea {
  resize: vertical;
}
a:focus,
button:focus,
input:focus {
  outline: 0 none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input,
select,
textarea {
  border: 1px solid #ccc;
}
input:focus,
textarea:focus {
  border-color: #0F88EB;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
hr {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 0;
  border-top: 1px solid #eee;
}
/*textarea/select设置 width:100%; 再设置padding也不影响  input只能设置上下padding 设置左右会造成width 100%实际大于100% 可用text-indent代替*/
/*日历控件*/
.Wdate.txt {
  width: 45%;
  height: auto;
  text-align: center;
  text-indent: 0;
}
.Wdate ~ span {
  margin: 0 0.33rem;
}
input.txt {
  width: 100%;
  padding: 0.5rem 0;
  background: #fff;
  text-indent: 0.5rem;
}
select.ddl {
  width: 100%;
  padding: 0.33rem 0;
  background: #fff;
}
textarea.txt-mul {
  width: 100%;
  min-height: 6rem;
  max-height: 20rem;
  padding: 0.33rem;
  background: #fff;
  overflow-y: auto;
  word-break: break-all;
}
/* 字体 */
.txt-left {
  text-align: left;
}
.txt-right {
  text-align: right;
}
.txt-center {
  text-align: center;
}
.txt-hide {
  text-indent: -10000rem;
}
.txt-wrap {
  word-break: break-all;
}
/* 打断长字符串 */
.txt-omit {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* 过长省略 */
.txt-italic {
  font-style: italic;
}
/* 斜体 */
.txt-bold {
  font-weight: bold;
}
/* 加粗 */
.txt-underline {
  text-decoration: underline;
}
/* 下划线 */
.txt-deleteline {
  text-decoration: line-through;
}
/* 删除线 */
.txt-overline {
  text-decoration: overline;
}
/* img */
img {
  max-width: 100%;
  border-width: 0;
  vertical-align: middle;
}
.img-responsive {
  display: block;
}
.img-round {
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
}
.img-circle {
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.show {
  display: block !important;
}
.hide {
  display: none !important;
}
.no-wrap {
  white-space: nowrap;
}
/* 不换行 */
.no-visible {
  visibility: hidden;
}
.no-radius {
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
}
.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* 关闭输入法，适合输入验证码 只有IE和Firefox支持 */
.no-ime {
  ime-mode: disabled;
}
.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
/* 兼容公司的~ */
.clear {
  clear: both;
}
/* TODO: 渐进增强效果：设置页面文字等在拖动鼠标选中情况下的背景色与文字颜色 */
::-moz-selection {
  color: #fff;
  background: none repeat scroll 0% 0% #FD5D3C;
}
::selection {
  color: #fff;
  background: none repeat scroll 0% 0% #FD5D3C;
}
